body {
  
}
#banner {
  widht:100%
    
}

.principal {
  background:#D94EBB
  padding: 30px;
}

.titulo-principal {
  padding-left:20px;
  text-align:center
}

.titulo-centralizado {
  text-align:center
}

p {
  text-align:center;
}

#missao{
  font-size:20px
}

em strong{
  color:#369750
}

.itens{
  front=style;italic
}
.beneficios{
  background:#D94EBB;
    padding:20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width:20%;
  margin-right: 15%;
}

.imagembeneficios{
    width:50%;
}

header {
   background: #858585;
   padding: 20px 0;
}

.logo {
   widht: 200px;
   height: 200px;
}

.caixa {
   position: relative;
   width: 940px;
   margin: 0 auto;
}

nav {
   position: absolute;
   top: 110px;
   right: 0;
}

nav li {
   display: inline;
   margin: 0 0 0 15px;
}

nav a {
   text-transform: uppercase;
   color: #cccccc;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}
